:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #0B0F14;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px var(--sans);
  color-scheme: light dark;
}

body {
  gap: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}